* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(31, 36, 33, 0.90), rgba(31, 36, 33, 0.90)), url('bmstu_logo_gray.png');
    background-size: 100px;
    background-attachment: fixed;
    background-repeat: repeat;
}

a, a:visited {
    color: #216869;
}

a:hover {
    color: #49a078;
}

a:active {
    color: #9cc5a1;
}

.text {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.bold {
    font-weight: bold;
}

.mark {
    background-color: #dce1de;
}

.main-content {
    padding: 30px 20px;
    margin: 10px auto;
    background-color: white;
    border-radius: 7px;
    width: 100%;
    max-width: 600px;
    box-shadow: 10px 0 30px #222;
}

.article-header {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #1f2421;
}

.divider {
    margin-bottom: 2rem;
    background-color: #216869;
}

.article-text {

    margin-bottom: 1.5rem;
}

.annotation {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #dce1de;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 5px solid #49a078;
}

.article-formula {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 1.5rem;
}

.annot-header {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.code-frame {
    position: relative;
}

.code-section {
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: #1f2421;
    border-radius: 10px;
    color: white;
    overflow-x: scroll;
}

.code-lang {
    position: absolute;
    top: 1rem;
    right: 1rem;
    /* right: 10px; */
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: #49a078;
}